.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);

  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 40px;
    background-color: white;
    border-radius: 10px;
  }
}
