* {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
}

h1 {
  font-family: RobotoMedium, sans-serif;
  font-size: 48px;
}

@font-face {
  font-family: RobotoMedium;
  src: url('./fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto-Regular.ttf');
}
