.main_menu_card {
  width: 300px;
  box-shadow: black 1px 0px 16px -7px;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-inline: 30px;

  &:hover {
    box-shadow: black 1px 0px 20px -7px;
    transition: all 500ms;
  }
}
