@import '@styles/colors.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: $light_text;
  cursor: pointer;

  &:hover {
    transition: all 500ms ease;
  }
}

.loading {
  height: 100%;
  width: 100%;
}

.regular {
  background-color: $light_blue;

  &:hover {
    background-color: $light_blue_hover;
  }
}

.danger {
  background-color: $red;

  &:hover {
    background-color: $red_hover;
  }
}

.disable {
  background-color: $grey;
  cursor: default;
}
