.container {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 1px solid #ddd;
}

.text {
  margin-right: 1em;
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 0.5em;
  }
  
}