@import '../../../../styles/colors.scss';

.login {
  position: relative;
  align-self: center;
  justify-self: end;
  user-select: none;
  font-size: 0.8em;
  color: $blue;
}

.menu {
  position: absolute;
  right: 0px;
  padding: 20px;
  box-shadow: black 0px 3px 8px -5px;
  border-radius: 5px;
  list-style: none;
  margin-top: 30px;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 10px;
  color: initial;

  li:hover {
    cursor: pointer;
    color: $blue;
    transition: all 500ms;
  }
}

.hide {
  visibility: hidden;
  transition: all 500ms;
  animation: menu-animation-disappear;
  animation-duration: 500ms;
}

.show {
  visibility: visible;
  animation: menu-animation;
  animation-duration: 500ms;
}

@keyframes menu-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes menu-animation-disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
